
.menu li{
    list-style: none;
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.content{
    text-align: center;
    font-size: 6rem;
    color: white;
    z-index: 1;
}.btn{
    color:white;
}

.btn:hover{
    color:red;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.profile-pic{
    width: 220px;
    height: 200px;
    border-radius:50%;
    margin: 0px;
}
.aboutMeContent{
    height: 500px;
    width: 100%;
    display: flex;
    
    align-items: center;
    color:black;
    /* margin: 50px;
    padding: 100px; */
}
